name: Azure DevOps Build

on:
  workflow_dispatch:
    inputs:
      orgName:
        description: 'Azure DevOps Organization Name'
        required: true
      projectName:
        description: 'Azure DevOps Project Name'
        required: true
      azurePipelineDefinitionId:
        description: 'Azure DevOps Pipeline Definition ID'
        required: true
      ResourceYamlFile:
        description: 'Select the resource YAML file'
        required: true
        type: choice
        options:
          - 'vm_provision.yaml'
          - 'webapp_provision.yaml'
      targetRepositoryName:
        description: 'Repository Name'
        required: true
      pipelineName:
        description: 'Pipeline Name'
        required: true

env:
  RESOURCE_YAML: ${{ github.event.inputs.ResourceYamlFile }}

jobs:
  trigger-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Check if resource YAML file exists
        run: |
          if [ ! -f "./${{ github.event.inputs.ResourceYamlFile }}" ]; then
            echo "Error: YAML file ${{ github.event.inputs.ResourceYamlFile }} does not exist!"
            exit 1
          fi

      - name: Print Authorization Token
        run: |
          echo "Authorization token is used for the cURL request, but not printed for security reasons."

      - name: Print cURL Request Payload
        run: |
          echo "cURL Request Payload: "
          echo '{
            "definition": {
              "id": "${{ github.event.inputs.azurePipelineDefinitionId }}"
            },
            "sourceBranch": "refs/heads/main",
            "parameters": {
              "yamlFile": "${{ env.RESOURCE_YAML }}",
              "orgName": "${{ github.event.inputs.orgName }}",
              "projectName": "${{ github.event.inputs.projectName }}",
              "targetRepositoryName": "${{ github.event.inputs.targetRepositoryName }}",
              "pipelineName": "${{ github.event.inputs.pipelineName }}"
            }
          }'

      - name: Trigger Azure DevOps Build
        run: |
          echo "Triggering Azure DevOps build with definition ID ${{ github.event.inputs.azurePipelineDefinitionId }} using YAML file ${{ env.RESOURCE_YAML }}..."
          response=$(curl --http1.1 -s -w "%{http_code}" -o response.json \
            -H "Authorization: Basic $(echo -n ":${{ secrets.AZURE_DEVOPS_TOKEN }}" | base64 | tr -d '\n')" \
            -H "Content-Type: application/json" \
            -d '{
                  "definition": {
                    "id": "${{ github.event.inputs.azurePipelineDefinitionId }}"
                  },
                  "sourceBranch": "refs/heads/main",
                  "parameters": {
                    "yamlFile": "${{ env.RESOURCE_YAML }}",
                    "orgName": "${{ github.event.inputs.orgName }}",
                    "projectName": "${{ github.event.inputs.projectName }}",
                    "targetRepositoryName": "${{ github.event.inputs.targetRepositoryName }}",
                    "pipelineName": "${{ github.event.inputs.pipelineName }}"
                  }
                }' \
            "https://dev.azure.com/${{ github.event.inputs.orgName }}/${{ github.event.inputs.projectName }}/_apis/build/builds?api-version=6.1-preview.6")

          if [[ "$response" -ne 200 && "$response" -ne 202 ]]; then
            echo "Error triggering Azure DevOps build. Status code: $response"
            cat response.json
            exit 1
          fi

      - name: Post job cleanup
        run: |
          echo "Cleaning up after the build trigger..."
