name: Trigger Existing Azure Pipeline

on:
  workflow_dispatch:
    inputs:
      orgName:
        description: 'Enter your Azure DevOps Organization name'
        required: true
        default: 'devopsokn'
      projectName:
        description: 'Enter your Azure DevOps Project name'
        required: true
        default: 'MyPOC'
      targetRepositoryName:
        description: 'Enter the target repository name'
        required: true
        default: 'test_Automation_Repo'
      ResourceYamlFile:
        description: 'Select the resource YAML file'
        required: true
        type: choice
        options:
          - 'vm_provision.yaml'
          - 'webapp_provision.yaml'

jobs:
  trigger-azure-pipeline:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v2

      - name: Setup Azure Login using Service Principal
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Trigger Azure Pipeline
        uses: Azure/pipelines@v1
        with:
          azure-devops-project-url: 'https://dev.azure.com/${{ github.event.inputs.orgName }}/${{ github.event.inputs.projectName }}'
          azure-pipeline-name: 'test_Automation_Repo'  # Use your existing pipeline name here
          azure-devops-token: ${{ secrets.AZURE_DEVOPS_TOKEN }}
          azure-pipeline-variables: |
            {
              "ResourceYamlFile": "${{ github.event.inputs.ResourceYamlFile }}",
              "targetRepositoryName": "${{ github.event.inputs.targetRepositoryName }}",
              "orgName": "${{ github.event.inputs.orgName }}",
              "projectName": "${{ github.event.inputs.projectName }}"
            }
